<%= require('./partials/header.ejs')() %>

<section class="container">
    <div class="container__element">
        <header class="container__element__header">
            <h2>Title</h2>
        </header>
        <div class="container__element__bloc">
            <p>Content.</p>
        </div>
</section>

<section class="container container--background">
    <div class="container__element">
        <header class="container__element__header">
            <h2>Title</h2>
        </header>
        <div class="container__element__bloc">
            <p>Content.</p>
        </div>
</section>

<%= require('./partials/footer.ejs')() %>